@* @model IEnumerable<FilmRecoViewModel> *@

@{
    ViewData["Title"] = "Recommendations";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Recommended Films</h1>

    <div class="row justify-content-center">
        @* @foreach (var film in Model) *@
        @* { *@
        @*     <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4"> *@
        @*         <div class="card text-center"> *@
        @*             <img src="@film.PosterUrl" class="card-img-top" alt="@film.Title" style="max-height: 300px; object-fit: cover;"> *@
        @*             <div class="card-body"> *@
        @*                 <h5 class="card-title" style="font-size: 1.1em; overflow-wrap: break-word;">@film.Title</h5> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* } *@
    </div>
</div>