@{
    ViewBag.Title = "Forgot Password - Enter Email";
}

<h2 class="text-center mb-4"> Enter your email</h2>
<form method="post">
    <label>Email:</label>
    <input type="email"  class="form-control" name="email" required />
    <button type="submit" class="btn btn-success mt-3"> Send Email</button>
</form>
