@{
    ViewBag.Title = "Forgot Password - Reset Password";
}

<h2 class="text-center mb-4"> Reset Password</h2>
<form method="post">
    <label>New Password: </label>
    <input type="password" class="form-control" name="newPassword" required />
    <button type="submit" class="btn btn-success mt-3">Reset Password</button>
</form>
