@{
    ViewBag.Title = "Forgot Password - Verify Code";
}

<h2 class="text-center mb-4"> Verify Code</h2>
<form method="post">
    <label>Enter the code sent to your email:</label>
    <input type="text"  class="form-control" name="code" required />
    <button type="submit"  class="btn btn-success mt-3"> Verify</button>
</form>
