html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.transparent-button {
    color: black;
    text-decoration: none; 
    font-size: 16px;
    margin: 0 10px; 
    cursor: pointer; 
}
.btt-login {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    background: none; /* Прибирає фон кнопки */
    border: none; /* Прибирає рамку кнопки */
    padding: 0; /* Прибирає внутрішні відступи */
}

    .btt-login:focus {
        outline: none; /* Прибирає рамку під час натискання */
        box-shadow: none; /* Забирає тінь під час натискання */
    }

   

