@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-center flex-wrap gap-3">

        <!--User card-->

        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Users </h5>
                <p class="card-text">Change User role, or delete form DataBase</p>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Change User role </h5>
                <p class="card-text">Change User role in DataBase</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UserChange">Change</a>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Delete User </h5>
                <p class="card-text">Delete User from DataBase</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="DeleteUser">Delete</a>
            </div>
        </div>
       
        <!--Session Card-->
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Session</h5>
                <p class="card-text">Create or change Session</p>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">New Session</h5>
                <p class="card-text">Create new session in the cinema</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AddSession">Create</a>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Change Session</h5>
                <p class="card-text">Change created Session</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="ChangeSession">Change</a>
            </div>
        </div>
        <!--Change Card-->
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Change</h5>
                <p class="card-text">Add changes into Film and Booking</p>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Change Film </h5>
                <p class="card-text">Change information about Film</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="ChangeFilm">Change</a>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Change Booking status </h5>
                <p class="card-text">Change information about Booking status</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="ChangeBooking">Change</a>
            </div>
        </div>
        <!--Delete Card-->
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Delete</h5>
                <p class="card-text">Delete Film, Session</p>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Delete Film </h5>
                <p class="card-text">Delete Film from DataBase</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="DeleteFilm">Delete</a>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Delete Session </h5>
                <p class="card-text">Delete Session from DataBase</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="DeleteSession">Delete</a>
            </div>
        </div>

        <!--Create Card-->
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Add Film</h5>
                <p class="card-text">Add new Film to DataBase</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AddFilm">Add</a>
            </div>
            
        </div>
    
        <!--Statistic Card-->
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Statistics</h5>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Ticket Sales</h5>
                <p class="card-text">Detailed statistics on how many tickets were sold for each film.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Statistic" asp-action="FilmTicket">View Ticket Sales</a>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Hall Occupancy</h5>
                <p class="card-text">Analyze how full the halls were during different sessions.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Statistic" asp-action="FilmOccupancy">View Occupancy</a>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Most Popular Period</h5>
                <p class="card-text">Discover which time periods had the highest attendance rates.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Statistic" asp-action="SessionPopularity">View Popular Periods</a>
            </div>
        </div>

    </div>
</div>
